#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background:#000;
}

body{
  background:#c2c2d6;
}
.display{
  display:flex;
  flex-direction: column;
  place-items: flex-end;
  gap:5px;
  font-size:23px;
  place-content: center;
}
.formula-container{
  color:orange;
  font-size:18px;
  margin-bottom:-20px;
}
.result-container{
  color:white;
}
.button-container{
  display: grid;
  grid-template-columns: repeat(4,80px);
  grid-template-rows: repeat(5,70px);
  grid-template-areas: 
  "clear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
  font-size:20px;
  font-weight: 700;
}
button{
  all:unset;
  outline: 1px solid black;
  color:white;
  font-weight: 600;
  font-size:20px;
  background:#4d4d4d;
  cursor:pointer;
  transition: 0.1s all ease;
}
#one{
  grid-area: one;
}
#two{
  grid-area: two;
}
#three{
  grid-area:three
}
#four{
  grid-area:four
}
#five{
  grid-area: five;
}
#six{
  grid-area: six;
}
#seven{
  grid-area: seven;
}
#eight{
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#zero{
  grid-area: zero;
}

#equals{
  grid-area:equals;
  background:#004466;
}
#add{
  grid-area: add;
  background:#666666;
}
#subtract{
  grid-area: subtract;
  background:#666666;
}
#multiply{
  grid-area: multiply;
  background:#666666;
}
#divide{
  grid-area: divide;
  background:#666666;
}
#decimal{
  grid-area:decimal;
  background:#4d4d4d
}
#clear{
  grid-area:clear;
  background:#ac3939;
}

button:hover{
  color:#000;
  outline-color:grey;
  z-index: 1000;
}